// Colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Fonts
$default-font-family: 'Roboto', 'Helvetica', sans-serif;
$title-font-family: 'Roboto', 'Helvetica', sans-serif;

// VARS
$bg-color: $beige-lighter;
$title-color: $purple;
